# Large File Processor

In [38]:
import pandas as pd
from sqlalchemy import create_engine
import sys
import time

file         = "products.csv"
csv_database = create_engine('sqlite:///csv_database.db', echo=False)

df = pd.read_csv(file, sep=";", dtype='unicode' )

In [39]:
import time
start = time.time()

df.to_sql("FACTS2", if_exists = 'replace',con=csv_database)

end = time.time()
print(end - start)

22.062905311584473

In [40]:
start = time.time()
chunksize = 100000
i = 0
j = 1
for df in pd.read_csv(file, chunksize=chunksize, iterator=True, sep=";", dtype='unicode'):
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns})
    df.index += j
    i+=1
    df.to_sql('FACT', csv_database, if_exists='append')
    j = df.index[-1] + 1
end = time.time()
print(end - start)

44.814292907714844

In [41]:
result = csv_database.execute("SELECT * FROM FACTS2")

In [42]:
start = time.time()
Filtered = pd.DataFrame(result.fetchall())
Filtered.columns = result.keys()
end = time.time()
print(end - start)
Filtered

6.482856512069702

         index                               name,sku,description
0            0  Bryce Jones,lay-raise-best-end,Art community f...
1            1  John Robinson,cup-return-guess,Produce success...
2            2  Theresa Taylor,step-onto,"Choice should lead b...
3            3  Often stuff professional today allow after doo...
4            4  Roger Huerta,citizen-some-middle,Important fig...
...        ...                                                ...
861681  861681  Attorney kid some dinner win. Pretty finally c...
861682  861682  David Norman,light-us-citizen,Oil successful s...
861683  861683  Zachary Simmons,above-staff-work-be,"He adult ...
861684  861684  Our its close machine line film. Call occur wr...
861685  861685  Tracey Hoffman,consider-top-head,Interesting p...

[861686 rows x 2 columns]

In [45]:
start = time.time()
Filtered = df.loc[(df['name']=='Bryce Jones'),['name'],['sku'],['description']]
end = time.time()
print(end - start)

KeyError: 'name'

In [43]:
df.head()

                                      name,sku,description
4400001     Think main control. Need enough whose detail."
4400002  Krista Gonzales,let-page-figure,Time think wee...
4400003  Adam Anderson,issue-claim-than,"Recognize west...
4400004  Republican final enter trade tree address. Sin...
4400005  Amanda Anderson,least-write,"Tend account sens...